<%- include('layout/header.ejs') %>
<div class="container">
    <ul class="blog-list">
        <% blogs.forEach(blog => {%>
        <li class="blog-item">
            <a href="/post/<%=blog.id%>" class="blog-title"><h2><%=blog.title%></h2></a>
            <p class="blog-sumary"><%=blog.body%></p>
            <div>
                <span class="blog-username"><%=blog.author%></span> <span class="blog-newstime"><%=blog.date%></span>
            </div>
        </li>
        <% })%>
    </ul>
</div>
<%- include('layout/footer.ejs')%>