<%- include('layout/header.ejs') %>
    <div class="b-post-container">
        <h1 class="b-post-title"><%=blog.title%></h1>
        <div class="b-post-detail">
            <span><%=blog.author.toUpperCase()%></span> <span><%=blog.create_at%></span>
            <% if(user && blog.author.toUpperCase() == user.username.toUpperCase()){%>
                <a href="/" class="b-post-edit">编辑</a>
            <%} %>
        </div>
        
        <div class="b-post-content">
            <p><%=blog.content%></p>
        </div>
        <div class="b-post-view-times">
            <span>本文已被阅读<%=blog.views%>次</span>
        </div>
    </div>
    <div class="b-post-action">
        <span class="b-post-like iconfont icon-heart <%= blog.userFava == 1 ? 'icon-heart-fill b-post-like-active': ''%>" data-pid="<%=blog.id%>"></span>
    </div>
    
    <style>
    .b-post-title{
        font-size: 24px;
        margin-bottom: 20px;
    }
    .b-post-detail,.b-post-view-times{
        font-size: 14px;
        color: #777;
        margin-bottom: 30px;
    }
    .b-post-content{
        min-height: 300px;
        font-size: 16px;
        color: #333333;
        line-height: 30px;
        letter-spacing: 2px;
    }
    .b-post-action{
        margin-bottom: 100px;
    }
    </style>
    <script>
    $('.b-post-like').click(function(){
        let pid = $(this).data('pid')
        $.post('/blog/favorite', {
            postId: pid
        }).then(res => {
            alert(res.message)
            if(res.status !== 200) {
                return
            }
            $(this).toggleClass('icon-heart-fill')
            $(this).toggleClass('b-post-like-active')
        })
    })
    </script>
</body>
</html>