<%- include('layout/header.ejs') %>
    <div class="b-post-container">
        <h1 class="b-post-title"><%=blog.title%></h1>
        <div class="b-post-detail">
            <span><%=blog.author.toUpperCase()%></span> <span><%=blog.create_at%></span>
        </div>
        
        <div class="b-post-content">
            <p><%=blog.body%></p>
        </div>
        <div class="b-post-view-times">
            <span>本文已被阅读<%=blog.views%>次</span>
        </div>
    </div>
    <div class="b-post-action">
        <span class="b-post-like iconfont icon-heart "></span>
    </div>
    
    <style>
    .b-post-title{
        font-size: 24px;
        margin-bottom: 20px;
    }
    .b-post-detail,.b-post-view-times{
        font-size: 14px;
        color: #777;
        margin-bottom: 30px;
    }
    .b-post-content{
        min-height: 300px;
        font-size: 16px;
        color: #333333;
        line-height: 30px;
        letter-spacing: 2px;
    }
    </style>
    <script>
    $('.b-post-like').click(function(){
        $(this).toggleClass('icon-heart-fill')
        $(this).toggleClass('b-post-like-active')
    })
    
    </script>
</body>
</html>